target
ideatarget
.target
.cache
.metadata
.cache-main
.cache-tests
.classpath
.project
.tmpBin
.factorypath
.settings
logs
.idea/
*.iml
node_modules/
.DS_Store
*.pyc
*.log
*hs_err*
*.mdmp
.pb
.png
.metadata
export/*.png
BasicDataVecExampleLocalOutput.csv
**/*.zip
